{% extends 'manager/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contents %}
<h1 class="contents-title">Main Slide</h1>
<div class="main-slide-contents">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval=false>
    <div class="carousel-indicators">
      {% for gallery in gallery_list %}
      {% if gallery.pk == 1 %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ gallery.pk|add:'-1' }}" class="active" aria-current="true" aria-label="Slide {{ gallery.pk }}"></button>
      {% else %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ gallery.pk|add:'-1' }}" aria-label="Slide {{ gallery.pk }}"></button>
      {% endif %}
      {% endfor %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      {% for gallery in gallery_list %}
      {% if gallery.pk == 1 %}
      <div class="carousel-item active">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="{{ form.img.id_for_label }}">
            <img class="hover-item gallery-img"
            src="{{ gallery.img.url }}"
            alt="gallery">
          </label>
          {{ form.img|add_class:"form-control"|attr:"" }}
          <label class="gallery-text-label" for="{{ form.title.id_for_label }}">
            <h2 class="hover-item gallery-text">{{ gallery.title }}</h2>
          </label>
          {{ form.title|add_class:"gallery-text-input form-control hover-item" }}
          <button type="submit" class="gallery-update-btn btn btn-success">Update</button>
        </form>
      </div>
      {% else %}
      <div class="carousel-item">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="{{ form.img.id_for_label }}">
            <img class="hover-item gallery-img"
            src="{{ gallery.img.url }}"
            alt="gallery">
          </label>
          {{ form.img|add_class:"form-control"|attr:"hidden" }}
          <label class="gallery-text-label" for="{{ form.title.id_for_label }}">
            <h2 class="hover-item gallery-text">{{ gallery.title }}</h2>
          </label>
          {{ form.title|add_class:"gallery-text-input form-control hover-item" }}
          <button type="submit" class="gallery-update-btn btn btn-success">Update</button>
        </form>
      </div>
      {% endif %}
      {% endfor %}
      <div class="carousel-item">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="{{ form.img.id_for_label }}">
            <img class="hover-item gallery-img"
            src="{% static 'manager/images/logo_ogp.png' %}"
            alt="gallery">
          </label>
          {{ form.img|add_class:"form-control"|attr:"hidden" }}
          <label class="gallery-text-label" for="{{ form.title.id_for_label }}">
            <h2 class="hover-item gallery-text">New</h2>
          </label>
          {{ form.title|add_class:"gallery-text-input form-control hover-item" }}
          <button type="submit" class="gallery-update-btn btn btn-primary">Add</button>
        </form>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
{% endblock %}
  