<div class="position-sticky pt-md-5">
  <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link sidebar-item" href="{% url 'manager:top' %}">
          <i class="sidebar-logo fa-solid fa-chart-line"></i>Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link sidebar-item" href="{% url 'manager:main_slide' %}">
          <i class="sidebar-logo fa-solid fa-tv"></i>Main Slide
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link sidebar-item" href="#">
          <i class="sidebar-logo fa-regular fa-pen-to-square"></i>Sample
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link sidebar-item" href="#">
          <i class="sidebar-logo fa-solid fa-users-rectangle"></i>Family
        </a>
      </li>
    </ul>
</div>
